<!--<nav class="navbar navbar-dark bg-light">
    <a class="navbar-brand" href="#">
      <img src="static/icons/netiq.png" width="30" height="30" alt="">
      <span style="color: white;">CyberRes Password Service</span>
    </a>
    <a href="#" style="color: white;">admin 
      <span class="material-icons-outlined">
      expand_more
      </span>
    </a>
</nav>-->

<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <a style = "padding-top: 0;" href="#">
            <img src="static/icons/netiq.png" width="30" height="30" alt="">
        </a>
        <p style="color: white; font-size: 20px; margin-top: 10px; margin-left: 10px;">CyberRes Password Service</p>
    </form>
    <div id="btnSuggestions" style="display: block">
        <a href="/login" class="btn btn-light text-dark my-2 my-sm-0" >logout</a>
    </div>
</nav>