<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/home">Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" >application</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">settings</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">setting1</a>
                    <a class="dropdown-item">setting2</a>
                    <a class="dropdown-item">setting3</a>                    
                </div>
            </li>
        </ul>
        <div id="btnSuggestions" style="display: block">
            <form action="/viewProfile" method="post">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Profile</button>
            </form>
        </div>

    </div>
  </nav>