{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="pt-5 pl-5" >
        <div class="row justify-content-left">
            <div class="col-2 text-center">
                <div class="thumbnail">
                    <a href="/changePassword">
                    <img src="../static/icons/password.png" alt="Lights" style="width:100px">
                    </a>
                    <p class="card-text"><small class="text-muted">Change Password</small></p>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="thumbnail">
                <a">
                    <img src="../static/icons/2fa1.png" alt="Lights" style="width:100px">
                </a>
                <p class="card-text"><small class="text-muted">2FA Configuration</small></p>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="thumbnail">
                <a href="/updateSecurity">
                    <img src="../static/icons/security.png" alt="Lights" style="width:100px">
                </a>
                <p class="card-text"><small class="text-muted">Security Questions</small></p>
                </div>
            </div>
            <div class="col-2 text-center">
                <div class="thumbnail">
                <a href="/updateProfile">
                    <img src="../static/icons/profile.png" alt="Lights" style="width:100px">
                </a>
                <p class="card-text"><small class="text-muted">Update Profile</small></p>

                </div>
            </div>
                
        </div>
    </div>
</div>

{%  if show_profile==True %}
<div class="modal hide " id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Personal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                {% for field, data in user_data.items() %}
                <div class="">
                    <b>{{ field }} : </b>{{ data }} 
                  </div>
                {% endfor %}            
            </div>
            <div class="modal-footer">
                <a href="home" class="btn btn-dark">Close</a>
            </div>
        </div>
    </div>  
    
</div>
<script type="text/javascript">
    $(window).on('load', function() {
        $('#myModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}
